---
import { storyblokEditable } from "@storyblok/astro";
import { Image } from "astro:assets";

const { blok } = Astro.props;

import RightArrow from "../assets/right-arrow-grey-bg.svg";
---

<style>
    .herobox {
        padding: 4rem 1rem;
    }
    .herobox-content {
        text-align: center;
    }

    h1 {
        font-size: 3.6rem;
        line-height: 100%;

        margin-bottom: 2.4rem;
        padding: 0 0.6rem;

        color: #111111;
    }

    .subheading {
        font-size: clamp(1.6rem, 5.714vw - 0.229rem, 1.8rem);
        line-height: 180%;

        margin: 0 auto;
        margin-bottom: 4rem;
        padding: 0 0.6rem;

        color: #555555;
    }

    button {
        padding: 1.1rem 1.1rem 1.1rem 1.8rem;
        margin: 0 auto;

        background-color: #1a1a1a;

        border-radius: 2.6rem;

        white-space: nowrap;
    }

    .button-content {
        font-size: clamp(1.6rem, 5.714vw - 0.229rem, 1.8rem);

        color: #ffffff;

        display: flex;
        gap: 0.8rem;
        align-items: center;
        justify-content: center;
    }

    @media only screen and (min-width: 390px) {
        h1{
            font-size: 4.8rem;
        }
        .right-arrow {
            width: 32px;
            height: 32px;
        }
    }

    @media only screen and (min-width: 744px) {
        .herobox {
            padding: 8rem 2rem;
        }
        h1 {
            font-size: 4.8rem;

            max-width: 22ch;
            margin: 0 auto;
            margin-bottom: 4rem;
        }
        .subheading {
            font-size: 1.8rem;
            max-width: 50ch;
        }
    }

    @media only screen and (min-width: 1024px) {
        h1 {
            font-size: 6.4rem;
            line-height: 120%;
        }
        .subheading {
            font-size: 2rem;
        }
        button {
            font-size: 2rem;
        }
    }

    @media only screen and (min-width: 1440px) {
        .herobox {
            padding: 8rem 4rem;
        }
        h1 {
            font-size: 8rem;
        }
    }
</style>

<div class="herobox" {...storyblokEditable(blok)}>
    <div class="herobox-content">
        <h1>{blok.heading}</h1>
        <p class="subheading">{blok.subheading}</p>

        <div class="button-container">
            <button>
                <div class="button-content">
                    {blok.button_text}
                    <Image
                        class="right-arrow"
                        src={RightArrow}
                        alt="right arrow"
                    />
                </div></button
            >
        </div>
    </div>
</div>

<script></script>
